jupyterlab
voila
voila-material @ git+https://github.com/GLAM-Workbench/voila-material.git
pandas
requests
altair
jupyter-archive
tqdm
beautifulsoup4
lxml
requests-cache
sqlite-utils
PyMuPDF
ipywidgets
python-slugify
datasette
datasette-template-sql
datasette-template-request
jupyter-server-proxy